.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.error-block{
  font-size: small;
  color: red;
}
.rc-collapse {
  height: 80vh;
  overflow-y: auto;
}
.react-json-view{
  height: 95vh;
  overflow-y: auto;
}
.btn {
  margin: 10px;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 0;
}
.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
}
.delete-button {
  float: right;
}
.rc-collapse > .rc-collapse-item:last-child {
    border-bottom: 1px solid #d9d9d9;
}
